<form
  [formGroup]="contractFormGroup"
  (ngSubmit)="onSubmit()"
  class="p-4 custom-form-width h-[500px]"
>
  <h2 class="text-xl font-semibold mb-4">Create a New Contract</h2>

  <!-- Contract Details -->
  <!-- <div class="mb-4">
    <div class="mb-2">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" formControlName="startDate" required class="w-full rounded-md border-gray-300 px-2 py-1"/>
    </div>
    <div>
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" formControlName="endDate" required />
    </div>
    <div>
      <label for="termsAndConditions">Terms and Conditions:</label>
      <textarea class="w-full rounded-md border-gray-300 px-2 py-1"
        id="termsAndConditions"
        formControlName="termsAndConditions"
        required
      ></textarea>
    </div>
  </div> -->

  <div class="column-container">
    <div class="season-row">
      <div class="input-container">
        <label for="startDate">Start Date:</label>
        <input
          type="date"
          id="startDate"
          formControlName="startDate"
          required
          class="w-full rounded-md border-gray-300 px-2 py-1"
        />
      </div>
      <div class="input-container">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" formControlName="endDate" required />
      </div>
      <div class="input-container">
        <label for="termsAndConditions">Terms and Conditions:</label>
        <textarea
          class="w-full rounded-md border-gray-300 px-2 py-1"
          id="termsAndConditions"
          formControlName="termsAndConditions"
          required
        ></textarea>
      </div>
    </div>
  </div>

  <!-- Hotel Details -->
  <div formGroupName="hotel">
    <div>
      <label for="hotelID">Hotel ID:</label>
      <input type="text" id="hotelID" formControlName="hotelID" required />
    </div>
  </div>

  <!-- Discounts -->
  <div formGroupName="discounts">
    <div>
      <label for="discountPercentage">Discount Percentage:</label>
      <input
        type="number"
        id="discountPercentage"
        formControlName="discountPercentage"
      />
    </div>
    <div>
      <label for="noOfDates">Number of Dates:</label>
      <input type="number" id="noOfDates" formControlName="noOfDates" />
    </div>
  </div>

  <!-- Seasons -->

  <div formArrayName="seasons" class="seasons-container">
    <button type="button" class="add-season-button" (click)="addSeason()">
      Add Season
    </button>
    <div
      *ngFor="let season of seasons.controls; let i = index"
      [formGroupName]="i"
      class="season"
    >
      <div class="season-row">
        <div class="input-container">
          <label for="seasonName">Season Name:</label>
          <input type="text" id="seasonName" formControlName="seasonName" />
        </div>
        <div class="input-container">
          <label for="seasonStartDate">Start Date:</label>
          <input type="date" id="startDate" formControlName="startDate" />
        </div>
        <div class="input-container">
          <label for="seasonEndDate">End Date:</label>
          <input type="date" id="endDate" formControlName="endDate" />
        </div>
        <button type="button" (click)="removeSeason(i)" class="remove-button">
          Remove
        </button>
      </div>
    </div>
  </div>

  <!-- Supplements -->
  <!-- <div formArrayName="supplements">
    <h3>Supplements</h3>
    <button type="button" (click)="addSupplement()">Add Supplement</button>
    <div
      *ngFor="let supplement of supplements.controls; let i = index"
      [formGroupName]="i"
    >
      <div>
        <label for="supplementName">Supplement Name:</label>
        <input
          type="text"
          id="supplementName"
          formControlName="supplementName"
        />
      </div>
      <button type="button" (click)="removeSupplement(i)">Remove</button>
    </div>
  </div> -->

  <div formArrayName="supplements" class="supplements-container">
    <button
      type="button"
      (click)="addSupplement()"
      class="add-supplement-button"
    >
      Add Supplement
    </button>
    <div
      *ngFor="let supplement of supplements.controls; let i = index"
      [formGroupName]="i"
      class="supplement"
    >
      <div>
        <label for="supplementName">Supplement Name:</label>
        <input
          type="text"
          id="supplementName"
          formControlName="supplementName"
        />
      </div>
      <button
        type="button"
        (click)="removeSupplement(i)"
        class="supplement-remove-button"
      >
        Remove
      </button>
    </div>
  </div>

  <!-- Supplement Prices-->
  <!-- <div formArrayName="supplementPrices">
  <h3>Supplement Prices</h3>
  <button type="button" (click)="addSupplementPrices()">Add Supplement Price</button>
  <div *ngFor="let supplementPrice of supplementPrices.controls; let i = index" [formGroupName]="i">
    <div>
      <label for="seasonName">Season Name:</label>
      <input type="text" id="seasonName" formControlName="seasonName">
    </div>
    <div>
      <label for="supplementName">Supplement Name:</label>
      <input type="text" id="supplementName" formControlName="supplementName">
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="text" id="price" formControlName="price">
    </div>
    <button type="button" (click)="removeSupplementPrices(i)">Remove</button>
  </div>
</div> -->

  <div formArrayName="supplementPrices" class="supplement-prices-container">
    <button
      type="button"
      (click)="addSupplementPrices()"
      class="add-supplement-prices-button"
    >
      Add Supplement Price
    </button>
    <div
      *ngFor="let supplementPrice of supplementPrices.controls; let i = index"
      [formGroupName]="i"
      class="supplement-price"
    >
      <div>
        <label for="seasonName">Season Name:</label>
        <input type="text" id="seasonName" formControlName="seasonName" />
      </div>
      <div>
        <label for="supplementName">Supplement Name:</label>
        <input
          type="text"
          id="supplementName"
          formControlName="supplementName"
        />
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="text" id="price" formControlName="price" />
      </div>
      <button
        type="button"
        (click)="removeSupplementPrices(i)"
        class="remove-button"
      >
        Remove
      </button>
    </div>
  </div>

  <!-- Room Types -->
  <!-- <div formArrayName="roomTypes">
  <h3>Room Types</h3>
  <button type="button" (click)="addRoomTypes()">Add Room Type</button>
  <div *ngFor="let roomType of roomTypes.controls; let i = index" [formGroupName]="i">
    <div>
      <label for="roomType">Room Type:</label>
      <input type="text" id="roomType" formControlName="roomType">
    </div>
    <div>
      <label for="noOfRooms">Number of Rooms:</label>
      <input type="text" id="noOfRooms" formControlName="noOfRooms">
    </div>
    <div>
      <label for="maxAdults">Maximum Adults:</label>
      <input type="text" id="maxAdults" formControlName="maxAdults">
    </div>
    <button type="button" (click)="removeRoomTypes(i)">Remove</button>
  </div>
</div> -->

  <div formArrayName="roomTypes" class="room-types-container">
    <button type="button" (click)="addRoomTypes()" class="add-room-type-button">
      Add Room Type
    </button>
    <div
      *ngFor="let roomType of roomTypes.controls; let i = index"
      [formGroupName]="i"
      class="room-type"
    >
      <div>
        <label for="roomType">Room Type:</label>
        <input type="text" id="roomType" formControlName="roomType" />
      </div>
      <div>
        <label for="noOfRooms">Number of Rooms:</label>
        <input type="number" id="noOfRooms" formControlName="noOfRooms" />
      </div>
      <div>
        <label for="maxAdults">Maximum Adults:</label>
        <input type="number" id="maxAdults" formControlName="maxAdults" />
      </div>
      <button type="button" (click)="removeRoomTypes(i)" class="remove-button">
        Remove
      </button>
    </div>
  </div>

  <!-- Room Type Prices -->
  <!-- <div formArrayName="roomTypePrices">
  <h3>Room Type Prices</h3>
  <button type="button" (click)="addRoomTypePrices()">Add Room Type Price</button>
  <div *ngFor="let roomTypePrice of roomTypePrices.controls; let i = index" [formGroupName]="i">
    <div>
      <label for="seasonName">Season Name:</label>
      <input type="text" id="seasonName" formControlName="seasonName">
    </div>
    <div>
      <label for="roomType">Room Type:</label>
      <input type="text" id="roomType" formControlName="roomType">
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="text" id="price" formControlName="price">
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" id="description" formControlName="description">
    </div>
    <div>
      <label for="imgUrl">Image URL:</label>
      <input type="text" id="imgUrl" formControlName="imgUrl">
    </div>
    <button type="button" (click)="removeRoomTypePrices(i)">Remove</button>
  </div>
</div> -->

  <div formArrayName="roomTypePrices" class="room-type-prices-container">
    <button
      type="button"
      (click)="addRoomTypePrices()"
      class="add-room-type-price-button"
    >
      Add Room Type Price
    </button>
    <div
      *ngFor="let roomTypePrice of roomTypePrices.controls; let i = index"
      [formGroupName]="i"
      class="room-type-price"
    >
      <div>
        <label for="seasonName">Season Name:</label>
        <input type="text" id="seasonName" formControlName="seasonName" />
      </div>
      <div>
        <label for="roomType">Room Type:</label>
        <input type="text" id="roomType" formControlName="roomType" />
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="text" id="price" formControlName="price" />
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" formControlName="description" />
      </div>
      <div>
        <label for="imgUrl">Image URL:</label>
        <input type="text" id="imgUrl" formControlName="imgUrl" />
      </div>
      <button
        type="button"
        (click)="removeRoomTypePrices(i)"
        class="remove-button"
      >
        Remove
      </button>
    </div>
  </div>

  <!-- Markup Prices -->
  <!-- <div formArrayName="markupPrices">
  <h3>Markup Prices</h3>
  <button type="button" (click)="addMarkupPrices()">Add Markup Price</button>
  <div *ngFor="let markupPrice of markupPrices.controls; let i = index" [formGroupName]="i">
    <div>
      <label for="seasonName">Season Name:</label>
      <input type="text" id="seasonName" formControlName="seasonName">
    </div>
    <div>
      <label for="percentage">Percentage:</label>
      <input type="number" id="percentage" formControlName="percentage">
    </div>
 
    <button type="button" (click)="removeMarkupPrices(i)">Remove</button>
  </div>
</div> -->

  <div formArrayName="markupPrices" class="markup-prices-container">
    <button
      type="button"
      (click)="addMarkupPrices()"
      class="add-markup-price-button"
    >
      Add Markup Price
    </button>
    <div
      *ngFor="let markupPrice of markupPrices.controls; let i = index"
      [formGroupName]="i"
      class="markup-price"
    >
      <div>
        <label for="seasonName">Season Name:</label>
        <input type="text" id="seasonName" formControlName="seasonName" />
      </div>
      <div>
        <label for="percentage">Percentage:</label>
        <input type="number" id="percentage" formControlName="percentage" />
      </div>
      <button
        type="button"
        (click)="removeMarkupPrices(i)"
        class="remove-button"
      >
        Remove
      </button>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button
      mat-raised-button
      type="button"
      [mat-dialog-close]="false"
      style="border: none; border-radius: 3px; cursor: pointer"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      type="submit"
      style="
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 3px;
        padding: 9px 20px;
        margin: 10px 12px;
        cursor: pointer;
      "
    >
      Save
    </button>
  </div>
</form>
