<mat-tab-group>
  <mat-tab label="First">
    <div class="grid grid-cols-2 gap-4">
      <form class="form">
        <h3>PERSONAL DETAILS</h3>
        <!-- Check-in Date -->
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input class="mat-input-element" matInput name="firstname" />
        </mat-form-field>

        <!-- Check-out Date -->
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input class="mat-input-element" matInput name="lastname" />
        </mat-form-field>

        <!-- Number of Guests -->
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input class="mat-input-element" matInput type="email" name="email" />
        </mat-form-field>

        <!-- Room Price -->
        <mat-form-field class="full-width">
          <mat-label>Telephone</mat-label>
          <input class="mat-input-element" matInput type="phone" name="phone" />
        </mat-form-field>
      </form>

      <div>
        <mat-card class="card">
          <mat-card-content>
            <!-- Display basic information -->
            <p *ngIf="!error" class="card-text">Check-in Date: {{ checkIn }}</p>
            <p *ngIf="!error" class="card-text">
              Check-out Date: {{ checkOut }}
            </p>
            <p *ngIf="!error" class="card-text">
              Number of Guests: {{ noOfPax }}
            </p>
            <p *ngIf="!error" class="card-text">Base Price: {{ roomPrice }}</p>
            <div *ngIf="error" class="error-message">
              {{ error }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Second">
    <div class="grid grid-cols-2 gap-4">
      <div *ngIf="supplements.length > 0">
        <form class="supplements-form">
          <h3>SELECT YOUR SUPPLEMENTS</h3>
          <!-- Display supplements with checkboxes -->
          <ul>
            <li *ngFor="let supplement of supplements">
              <label>
                <input
                  type="checkbox"
                  (change)="onSupplementCheckboxChange(supplement)"
                  [(ngModel)]="supplement.selected"
                  name="selectedSupplements"
                />
                {{ supplement.supplementName }}
              </label>
            </li>
          </ul>
        </form>
      </div>

      <div>
        <mat-card class="card">
          <mat-card-content>
            <!-- Display basic information -->
            <p *ngIf="!error" class="card-text">Check-in Date: {{ checkIn }}</p>
            <p *ngIf="!error" class="card-text">
              Check-out Date: {{ checkOut }}
            </p>
            <p *ngIf="!error" class="card-text">
              Number of Guests: {{ noOfPax }}
            </p>
            <p *ngIf="!error" class="card-text">Base Price: {{ roomPrice }}</p>
            <div *ngIf="error" class="error-message">
              {{ error }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Third">
    <div class="grid grid-cols-2 gap-4">
      <form class="form">
        <h3>PAYMENT INFORMATION</h3>
        <!-- Check-in Date -->
        <div class="form-group">
          <label for="card-number">Card Number</label>
          <input
            type="text"
            id="card-number"
            name="cardNumber"
            placeholder="XXXX-XXXX-XXXX-XXXX"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="card-expiry">Expiry Date (MM/YY)</label>
          <input
            type="text"
            id="card-expiry"
            name="expiryDate"
            placeholder="MM/YY"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="card-cvc">CVC Number</label>
          <input
            type="text"
            id="card-cvc"
            name="cvcNumber"
            placeholder="CVC"
            ngModel
            required
          />
        </div>

        <button type="submit">Book</button>
      </form>

      <div>
        <mat-card class="card">
          <mat-card-content>
            <!-- Display basic information -->
            <p *ngIf="!error" class="card-text">Check-in Date: {{ checkIn }}</p>
            <p *ngIf="!error" class="card-text">
              Check-out Date: {{ checkOut }}
            </p>
            <p *ngIf="!error" class="card-text">
              Number of Guests: {{ noOfPax }}
            </p>
            <p *ngIf="!error" class="card-text">Base Price: {{ roomPrice }}</p>
            <div *ngIf="error" class="error-message">
              {{ error }}
            </div>
            <br>
            <div *ngIf="roomPriceWithNoOfDates !== null">
              <p class="card-text">
                Final Room Price: {{ roomPriceWithNoOfDates }}
              </p>
            </div>
            <div *ngIf="supplementPriceWithNoOfDates !== null">
              <p class="card-text">
                Final Supplement Price: {{ supplementPriceWithNoOfDates }}
              </p>
            </div>
            <div *ngIf="discountPrice !== null">
              <p class="card-text">Discount: {{ discountPrice }}</p>
            </div>
            <div *ngIf="MarkupPrice !== null">
              <p class="card-text">Tax: {{ MarkupPrice }}</p>
            </div>
            <br />
            <div *ngIf="finalPrice !== null" class="final-price">
              <p class="card-text">Final Price: {{ finalPrice }}</p>
            </div>
            <!-- <button
              (click)="displayFinalPrice()"
              style="
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 3px;
                padding: 10px 20px;
                cursor: pointer;
                font-size: 16px;
              "
            >
              Click Here to See Final Price
            </button> -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
