.mat-tab-group {
  margin-bottom: 48px;
}

.form {
  justify-content: space-between;
  width: 700px;
  height: 500px;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: #ccc;
  background-color: white;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.full-width {
  width: 70%;
}

mat-form-field {
  font-size: 16px;
  padding: 6px;
  padding-left: 100px;
  width: 100%;
}

mat-label {
  color: #333; 
}

.mat-input-element {
  border: 1px solid #ccc; 
  border-radius: 4px; 
  padding: 2px; 
  transition: border-color 0.2s ease-in-out; 
}

.mat-input-element:focus {
  border-color: #007bff; 
}


.card {
  background-color: rgb(14, 14, 81);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-top: 30px;
  margin-right: 100%;
  align-items: center;
}

.card-text {
  margin-bottom: 8px;
  font-size: 16px;
}
h3{
  padding: 30px;
  padding-left: 220px;
  color: rgb(14, 14, 81);
  font-size: 20px;
  background: linear-gradient(to bottom, #79c7ec, #c7e99e);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Style the fonts for supplements */
.supplements-form {
  justify-content: space-between;
  width: 700px;
  height: 500px;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: #ccc;
  background-color: white;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style checkboxes */
.supplements-form label {
  display: block;
  margin-bottom: 8px;
  padding-left: 300px;
  color: rgb(14, 14, 81);
}

.supplements-form input[type="checkbox"] {
  margin-right: 8px;
  vertical-align: middle;

}

/* Style error message */
.error-message {
  color: red;
  font-weight: bold;
}



/* Style for the payment form container */
.payment-form {
  justify-content: space-between;
  width: 700px;
  height: 500px;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: #ccc;
  background-color: white;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style for form labels */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 100px;
}

/* Style for form inputs */
.form-group input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-left: 100px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style for the submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 225px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 100px;
}

button[type="submit"]:hover {
  background-color: #0e0e51; 
}

/* Add styles to the final price element */
.final-price {
  font-size: 24px; 
  color: #f50e21; 
  font-weight: bold; 
  margin-top: 10px; 
}

