
  
.example-spacer {
  flex: 1 1 auto;
}

.main-body{
  padding-top: 20px;
  margin: 0 auto;
  max-width:1300px;
  mat-form-field{
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
} 

.header {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
}

.spacer {
  flex-grow: 1;
}

.form-container {
  margin-top: 20px; 
}

  