<div class="main-body">
  <div class="form-container">
    <mat-form-field style="width: 100%">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- SeasonName Column -->
        <ng-container matColumnDef="seasonName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Season Name</th>
          <td mat-cell *matCellDef="let row">
            {{ row.supplementPriceDTO.seasonName }}
          </td>
        </ng-container>

          <!-- price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
            <td mat-cell *matCellDef="let row">{{ row.supplementPriceDTO.price }}</td>
          </ng-container>

        <!-- End date Column -->
        <ng-container matColumnDef="supplementName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>supplementName</th>
          <td mat-cell *matCellDef="let row">
            {{ row.supplementPriceDTO.supplementName }}
          </td>
        </ng-container>

        <!-- contract ID Column -->
        <ng-container matColumnDef="contractID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>contractID</th>
          <td mat-cell *matCellDef="let row">{{ row.contractID }}</td>
        </ng-container>

        <!-- seasont ID Column -->
        <ng-container matColumnDef="seasonID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>seasonID</th>
          <td mat-cell *matCellDef="let row">{{ row.seasonID }}</td>
        </ng-container>

         <!-- supplementID Column -->
         <ng-container matColumnDef="supplementID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>supplementID</th>
          <td mat-cell *matCellDef="let row">{{ row.supplementID }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of hotel contracts"
      ></mat-paginator>
    </div>
  </div>
</div>
